body{
    background-color: #fff;
    font-family:'Inconsolata', monospace;
  
}
.menu  { 
    padding: 20px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

}
.menu h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
/*.button {
    font-family:'Space Mono', monospace;
    color: #fff;
    display: flex;
    /* margin-top: 64px;*/
   /* font-size: 14px;
    background-color: #333333;
}*/
.button-container{
    justify-content: center;
    align-items: center; 
}
.button{
    font-family:'Space Mono', monospace;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    padding: 15px;
    border: 0px;

}
.container-image{
    width: 50%;
}
.container-image img {
    width: 100%;

}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    
}
.h2 {
    /*i have a bad news*/
    font-size: 50px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    color: #333333;
}

.p {
    font-size: 25px;
}

.h3 {
    color: #333333;
    font-family:'Space Mono', monospace;
    font-size: 22px;
    position: absolute;
    bottom: 0px;
    /* left: 50%; */
    /* transform: translate(-50%); */
    width: 100%;
    text-align: center;
}
.container-text {
    justify-content:center;
    align-items: center;
    width: 50%;

}
@media(max-width:720px){
    .container {
        flex-direction: column;
    }
    .container-image{
        width: 90%;
    }
    .container-text {
        width: 90%;
    
    }
    .h3 {
        position: static;
        font-size: 15px;
    }
}
